*::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(#1a191f, #808080);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a191f;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Header Start */

.header__nav {
  padding: 20px 0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #fff;
  font-size: 32px;
}

.nav__search {
  border: 2px solid #1a191f;
  border-radius: 20px;
  padding: 8px;
  display: block;
  outline: none;
}
/* Header End */

/* Main Start */
/* Movies Start */
.movies__cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.movies__card {
  width: 240px;
  position: relative;
}

.card__cover-inner {
  position: relative;
}

.card__cover {
  height: 360px;
}

.card__cover-darkened {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  z-index: 9;
  cursor: pointer;
  transition: .35s all;
}

.card__cover-darkened:hover {
  background: #808080;
}

.card__info {
  padding: 10px 0;
}

.card__title {
  color: #fff;
  font-size: 16px;
}

.card__genre {
  color: #ffd80e;
  font-size: 14px;
}

.card__rating {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: #fff;
  background: #1a191f;
  display: grid;
  place-items: center;
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card__rating-red {
  border: 1.5px solid red;
}

.card__rating-orange {
  border: 1.5px solid orange;
}

.card__rating-green {
  border: 1.5px solid green;
}
/* Movies End */

/* Modal Start */
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  transition: width 2s;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  max-width: 600px;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #1a191f;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__movie-backdrop {
  width: 200px;
  margin: 0 auto;
}

.modal__info {
  margin-left: 20px;
  list-style: inside;
}

.modal__close {
  padding: 6px;
  align-self: center;
  cursor: pointer;
}

.modal__website-link {
  color: #ffd80e;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* Modal End */
/* Main End */